<div class="container">
  <div class="chatroom">
    <h1><%= @chatroom.name %></h1>
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <div class="d-flex flex-column">
        <% @chatroom.messages.each do |message| %>
        <% if message.user == current_user %>
            <div class="message-container-right" id="message-<%= message.id %>">
              <div>
                <%= cl_image_tag message.user.photo.key, width: 40, height: 40, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <i class="author">
                  <span><%= message.user.pseudo %><small><%= message.created_at.strftime("%l:%M%p") %></small></span>
                </i>
              </div>
              <p><%= message.content %></p>
            </div>
          <% else %>
            <div class="message-container-left" id="message-<%= message.id %>">
              <div>
                <%= cl_image_tag message.user.photo.key, width: 40, height: 40, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <i class="author">
                  <span><%= message.user.pseudo %><small><%= message.created_at.strftime("%l:%M%p") %></small></span>
                </i>
              </div>
              <p><%= message.content %></p>
            </div>
          <% end %>
        <% end %>
      </div class="input-message">
      <%= simple_form_for [ @ride, @chatroom, @message ], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "Your message" %>
        <button type="submit" class="btn btn-primary" id="send-btn">Send</button>
      <% end %>
    </div>
  </div>
</div>
