<p id="notice"><%= notice %></p>

<div class="container">
  <div class="bookings-table">
    <div class="banner-page text-center">
      <h1>My bookings</h1>
    </div>

    <h4>Rides</h4>
    <table class="table table-bordered">
      <tbody>
        <% @rides.each do |ride| %>
        <tr>
          <th scope="row"> <%= ride.id %> </th>
            <td> <%= ride.departure_date %> </td>
            <td> <%= ride.arrival_date  %> </td>
            <td> <%= link_to ride.title , ride_path(ride) %> </td>
            <% @participant= Participant.where(ride: ride, user_id: current_user.id) %>
            <td id="tresh"><%= link_to participant_path(@participant[0]), method: :delete do %>
                  <%= image_tag "https://image.flaticon.com/icons/png/512/70/70388.png", class: 'bin-icon' %>
                <%  end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <h4>Hotels</h4>
    <table class="table table-bordered">
      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <th scope="row"> <%= booking.id %> </th>
              <td> <%= booking.booking_start %> </td>
              <td> <%= booking.booking_end  %> </td>
              <td> <%= link_to booking.hotel.name , booking_path(booking) %> </td>
              <td id="tresh"><%= link_to booking_path(booking), method: :delete do %>
                    <%= image_tag "https://image.flaticon.com/icons/png/512/70/70388.png", class: 'bin-icon' %>
                  <%  end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
<br>
