<div class="container">
  
  <div class="banner-page">
  	<h1>Book your sleeping place</h1>
  </div>
  
  <div class="container-card">
  	<div class="row">
	    <div class="hotel-card">
	  	 <% @hotels.each do |hotel|%>
	  	  <div class="hotel-card-content">
	  	  	<h3><%= hotel.name %></h3>
	  	  	<h4><%= hotel.city %></h4>
	  	  	<h5><%= hotel.hotel_description %></h5>
	        <h5><%= hotel.price %></h5>
	  	  </div>
	  	 <%= @date%>
	  	  <div class="hotel-card-action">
	  	  	<%=link_to "Book this hotel", bookings_path(hotel:hotel, date:@date), method: :post%>
	  	  </div>
	  	  <%end%>
	  	</div>
	</div>
  </div>
</div>
