<div class="container">

  <div class="banner-page">
    <h1>Our next trips</h1>
  </div>

  <div class="container-card">
    <div class="row">
      <div class="ride-card">
        <div class="ride-card-content">
          <h3><%= rides.title %></h3>
          <h4><%= rides.city_departure %></h4>
          <h4><%= rides.city_arrival %></h4>
          <h5><%= rides.departure_date %></h5>
          <h5><%= rides.arrival_date %></h5>
          <h5><%= rides.ride_description %></h5>
        </div>
        <div class="ride-card-action">
          <%= link_to 'More', ride_path(show) %>
        </div>
      </div>
  </div>
  </div>
</div>

