<div class="container_new">
  <div class="banner-page text-center">
    <h1>Create your ride</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= simple_form_for Ride.new do |f| %>
          <%= f.input :title %>
          <%= f.input :city_departure %>
          <%= f.input :city_arrival %>
          <%= f.input :departure_date %>
          <%= f.input :arrival_date %>
          <%= f.input :ride_description %>
          <%= f.input :photo, as: :file %>
          <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="container" id="image-new-ride">
        </div>
      </div>
    </div>
  </div>
</div>
