<div class="container_new">
  <div class="banner-page text-center">
    <h1>Create your ride</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="container">

        <%= simple_form_for Ride.new do |f| %>
          <%= f.input :title %>
          <%= f.input :city_departure %>
          <%= f.input :city_arrival %>
          <%= f.input :departure_date %>
          <%= f.input :arrival_date %>
          <%= f.input :ride_description %>
          <%= f.input :photo, as: :file %>
          <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="container">
        <%= image_tag "https://static.wixstatic.com/media/73a767_eff4b6d6232b429eb34455e91b9bf10d~mv2.jpg/v1/fill/w_1000,h_667,al_c,q_80,usm_0.66_1.00_0.01/73a767_eff4b6d6232b429eb34455e91b9bf10d~mv2.jpg", :size => "600x500"%>
      </div>
    </div>
  </div>
</div>
