
<div class="row">
  <div class="col-md-4">
    <div class="container">
      <h1>Here is your ride</h1>
      <%= @ride.title  %>
      <p>City departure : <%= @ride.city_departure %></p>
      <p data-startlg="<%= @ride.start_long %>" data-startlt="<%= @ride.start_lat %>" id="start" >Lat : <%= @ride.start_lat %>  - Long: <%= @ride.start_long %></p>
      <br>
      <p>City arrival : <%=  @ride.city_arrival%></p>
      <p data-endlg="<%= @ride.end_long %>" data-endlt="<%= @ride.end_lat %>" id="end">Lat : <%= @ride.end_lat %>  - Long: <%= @ride.end_long %></p>
      <br>
      <p>Departure Date: <%= @ride.departure_date %></p>
      <p>Arrival Date: <%=  @ride.arrival_date%></p>
      <p>KM : </p>
      <p>Hours of Ride : </p>
      <p>Description : <%= @ride.ride_description %> </p>
    </div>
  </div>
  <div class="col-md-8">
    <div class="container">
      <div id='map' class="map"></div>
      <div id="instructions" class="instructions"></div>
    </div>
  </div>
</div>



<div class="btn btn-primary"> <%= link_to "Join", ride_participants_path(@ride), method: :post %></div>
<div class="btn btn-primary"><%= link_to "Hotel's list", hotels_path(query:@ride.city_arrival, arrival_date:@ride.arrival_date) %></div>


