<div class="container">

  <div class="banner-page text-center">
    <h1>Ride's details</h1>
  </div>

  <div class="row">

    <div class="col-md-5">

      <div class="show-ride-card">

        <div class="show-ride-title">
          <h3><%= @ride.title  %></h3>
        </div>

        <div class="show-ride-details">
          <p>From <%= @ride.city_departure %> To <%=  @ride.city_arrival%></p>
          <p data-startlg="<%= @ride.start_long %>" data-startlt="<%= @ride.start_lat %>" id="start"></p>
          <p data-endlg="<%= @ride.end_long %>" data-endlt="<%= @ride.end_lat %>" id="end"></p>

          <p>Departure on <%= @ride.departure_date %></p><p>Arrival on <%=  @ride.arrival_date%></p>
          <p id="distance" ></p>

        </div>

        <div class="show-ride-description">
          <p>Description : <%= @ride.ride_description %> </p>
        </div>

        <div class="show-ride-avatar">
          <% @ride.participants.each do |participant| %>
          <%= cl_image_tag participant.user.photo.key, width: 40, height: 40, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
        </div>


        <div class="show-ride-book">

          <% if user_signed_in? && current_user.participant?(@ride) %>

          <div id= "book-button" class="btn btn-primary"><%= link_to "Book Hotel", participant_hotels_path(participant_id: @participant.id, query:@ride.city_arrival, arrival_date:@ride.arrival_date) %></div>
          <% else %>
            <div id = "join-button" class="btn btn-primary"> <%= link_to "Join Ride", ride_participants_path(@ride), method: :post, onclick:"showBook" %></div>
          <% end %>

            <div id = "update-button" class="btn btn-secondary">
          <%= link_to 'Update', edit_ride_path %>
          <%= link_to ride_path(@ride), method: :delete do %></div>
            <%= image_tag "https://image.flaticon.com/icons/png/512/70/70388.png", class: 'bin-icon' %>
          <%  end %>
        </div>

      </div>

    </div>


    <div class="col-md-7">
      <div class="show-ride-image">
        <div data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>" id='map' class="map"></div>
      </div>
    </div>

  </div>
</div>

