<!DOCTYPE html>
<html>
  <head>
    
    <%= favicon_link_tag %>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= stylesheet_pack_tag 'application' %>

    <style>
        <p>
          Logo for the 404 page of <a href="https://www.strangeplanet.fr/">my website</a>
        </p>

        <div id="notfound"></div>

        <p class="small">
          <b>Inspirations:</b><br>
          <a href="https://codepen.io/mistic100/pen/GFHkm">Colorful Tiles</a> by mistic100<br>
          <a href="https://codepen.io/jorgeatgu/pen/zmAnr">SVG error 404</a> by jorgeatgu<br>
          <a href="https://codepen.io/kaypooma/pen/ehfjC">Glitchy 404 Page</a> by kaypooma<br>
        </p>
    </style>



  </head>

  <body>
    <% unless current_page?(root_path) %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <% unless current_page?(root_path) %>
    <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
